.embla {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.embla__slide {
  position: relative;
  min-width: 100%;
  padding-left: 1rem;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.embla__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: opacity 0.3s;
}

.embla__button:disabled {
  opacity: 0.3;
}

.embla__button__svg {
  width: 65%;
  height: 65%;
}

.embla__dots {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 1rem;
}

.embla__dot {
  background-color: transparent;
  cursor: pointer;
  position: relative;
  padding: 0;
  outline: 0;
  border: 0;
  width: 12px;
  height: 12px;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  display: flex;
  align-items: center;
}

.embla__dot:after {
  background-color: #efefef;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  content: '';
  transition: all 0.3s ease-in-out;
}

.embla__dot.is-selected:after {
  background-color: #3b82f6;
  opacity: 1;
}
